/*------------------------------------*
    Miscellaneous Components
*------------------------------------*/

.inliner {
    position: relative;
    display: inline-block;

    height: 1.5em;
    min-width: 1ex;

    line-height: 1.5em;
    vertical-align: bottom;

    i {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.inliner-element(@width, @height: 1.5em) {
    width: @width;
    height: @height;

    i {
        width: @width;
        height: @height;
    }
}

.maru {
    .inliner-element(@iconHeight);
}

.batsu {
    .inliner-element(@iconHeight);
}

.icon, .list-icon {
    i {
        border-radius: 50%;
        background-color: #ccc;
    }

    &.icon-positive i {
        box-shadow: 0 0 0 3px @success;
    }

    &.icon-neutral i {
        box-shadow: 0 0 0 3px @warning;
    }

    &.icon-negative i {
        box-shadow: 0 0 0 3px @error;
    }
}

.icon {
    .inliner-element(@iconHeight, @iconHeight);
}

.list-icon {
    .inliner-element(@listIconHeight, @listIconHeight);

    .badge {
        position: absolute;
        bottom: -2px;
        right: -2px;

        box-shadow: 0 0 0 3px @backgroundColor;
    }
}

.arrow {
    i {
        width: 8px;
        height: 8px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
        }

        &:before {
            top: 0;
            left: 0;
            width: 8px;
            height: 3px;
        }

        &:after {
            top: 0;
            left: 0;
            width: 3px;
            height: 8px;
        }
    }
}

.arrow-color(@color: @textColor) {
    i {
        &:before, &:after {
            background-color: @color;
        }
    }
}

.arrow-top {
    .inliner-element(@iconHeightSmall);
    .arrow-color;
    .arrow;
    i {
        transform: rotateZ(45deg);
        margin: -2px 0 0 -4px;
    }
}

.arrow-left {
    .inliner-element(@iconHeightSmall);
    .arrow-color;
    .arrow;
    i {
        transform: rotateZ(-45deg);
        margin: -3px 0 0 -3px;
    }
}

.arrow-bottom {
    .inliner-element(@iconHeightSmall);
    .arrow-color;
    .arrow;
    i {
        transform: rotateZ(-135deg);
        margin: -5px 0 0 -4px;
    }
}

.arrow-right {
    .inliner-element(@iconHeightSmall);
    .arrow-color;
    .arrow;
    i {
        transform: rotateZ(135deg);
        margin: -3px 0 0 -6px;
    }
}


.arrow-white {
    .arrow-color(@white);
}

.arrow-light {
    .arrow-color(@textColorLight);
}

.arrow-dark {
    .arrow-color(@black);
}

.subtitle {
    color: @textColorLight;
}

.tag {
    display: inline-block;

    padding: 0 7px;
    height: @iconHeight;

    border-radius: 3px;
    background-color: @borderColorDark;

    line-height: @iconHeight;
    font-weight: 900;
    font-size: @fontSizeSmall;
    text-transform: uppercase;
}

.badge {
    display: inline-block;
    box-sizing: border-box;

    padding: 0 (@iconHeightSmall / 2);
    height: @iconHeightSmall;
    min-width: @iconHeightSmall;

    border-radius: @iconHeightSmall;
    background-color: @borderColorDark;

    line-height: @iconHeightSmall;
    font-weight: 900;
    font-size: @fontSizeTiny;
    text-align: center;
}


/*------------------------------------*
    Helpers
*------------------------------------*/

.push-left       { margin-right:  @paddingThin; }
.push-far-left   { margin-right:  @padding; }

.push-right      { margin-left: @paddingThin; }
.push-far-right  { margin-left: @padding; }

.push-top        { margin-bottom: @paddingThin; }
.push-far-top    { margin-bottom: @padding; }

.push-bottom     { margin-top: @paddingThin; }
.push-far-bottom { margin-top: @padding; }

.short-line      { line-height: 1.3em   !important; }
.click-through   { pointer-events: none !important; }
.pointer         { cursor: pointer      !important; }
.fade            { opacity: 0.35        !important; }
.last            { margin-bottom: 0     !important; }

.no-select {
    -webkit-touch-callout: none;
    user-select: none;
    cursor: default;
}

.success {
     color: darken(@success, 15%);
}

.success-filled {
    color: @white;
    background-color: @success;
}

.warning {
    color: darken(@warning, 15%);
}

.warning-filled {
    color: @white;
    background-color: @warning;
}

.error {
    color: darken(@error, 15%);
}

.error-filled {
    color: @white;
    background-color: @error;
}


/*------------------------------------*
    Content Groups
*------------------------------------*/

.group {
    margin-bottom: @padding;

    h2 {
        margin-top: @paddingThick;
    }

    h1 + h2 {
        margin-top: 0;
    }
    p + hr {
        padding-top: @padding * 1.25;
    }

    + .group {
        margin-top: @paddingThick;
    }
}