/*------------------------------------*
    Global Input Styles
*------------------------------------*/

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="number"],
input[type="file"],
select,
button {
    display: inline-block;
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    border: none;
    background: transparent;

    color: @textColor;
    line-height: 1.5em;
    font-size: @fontSizeText;
    font-family: sans-serif;
    vertical-align: baseline;
}


/*------------------------------------*
    Buttons
*------------------------------------*/

.button {

}