/*------------------------------------*
    Lists
*------------------------------------*/

.list {
    list-style-type: none;
}

/*------------------------------------*
    Block List
*------------------------------------*/

.list-block {
    li {
        padding: @padding;
        box-shadow: 0 -1px 0 @borderColor inset;
    }
}


/*------------------------------------*
    Nav List
*------------------------------------*/

.list-nav {
    a {
        display: inline-block;
        margin-left: @padding;
    }

    .list-nav-header:first-child {
        margin-top: 0;
    }
}

.list-nav-header {
    margin-top: @padding;

    h2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 9pt;
    }
}