/*------------------------------------*
    Lists
*------------------------------------*/

.list {
    list-style-type: none;
}

/*------------------------------------*
    Block List
*------------------------------------*/

.list-block {
    li {
        padding: @padding;
        box-shadow: 0 -1px 0 @borderColor inset;
    }
}


/*------------------------------------*
    Nav List
*------------------------------------*/

.list-nav {
    li {
        margin-bottom: @paddingThin - 3px;
    }

    a, h2 {
        padding: 0 @padding;
    }

    a {
        display: block;

        padding: 3px 0;
        padding-left: @padding + @padding;

        color: @navTextColor;
        text-decoration: none;

        &:hover {
            background-color: @navHoverColor;
        }

        &.active {
            background-color: @navSelectedColor;
            color: @navSelectedTextColor;
        }
    }

    h2 {
        color: @navHeaderColor;
    }

    .list-nav-header:first-child {
        margin-top: 0;
    }
}

.list-nav-header {
    margin-top: @padding + @paddingThin;

    h2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 9pt;
    }
}