/*------------------------------------*
    Padding
*------------------------------------*/

@paddingThick: 34px;
@padding: 17px;
@paddingThin: 10px;


/*------------------------------------*
    Font Sizes
*------------------------------------*/

@fontSizeHeader: 15pt;
@fontSizeText: 13pt;
@fontSizeSmall: 11pt;
@fontSizeTiny: 9pt;