/*------------------------------------*
    Padding
*------------------------------------*/

@paddingThick: 34px;
@padding: 17px;
@paddingThin: 10px;


/*------------------------------------*
    Font Sizes
*------------------------------------*/

@fontSizeHeader: 15pt;
@fontSizeText: 13pt;
@fontSizeSmall: 11pt;
@fontSizeTiny: 9pt;


/*------------------------------------*
    Colours
*------------------------------------*/

@bodyColor: #242424;
@primaryColor: #fa0;
@primaryColorDark: #a50;
@backgroundColor: #fff;
@wellColor: #fafafa;
@borderColor: #ccc;
@borderColorLight: #e0e0e0;
@headerColor: #000;
@textColor: #555;
@textColorLight: #999;


/*------------------------------------*
    Heights
*------------------------------------*/

@headerHeight: 62px;
@inputHeight: 32px;
@iconHeight: 24px;
@iconHeightSmall: 16px;
@listIconHeight: 48px;